<div class="pageContainer">
  <div class="pageTitle">Patient List</div>
  <button mat-raised-button color="primary" class="newButton" [routerLink]="['/patient/add']">Add new Patient</button>
    <table mat-table [dataSource]="dataSource" class="mainTable mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="pName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.pName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef> DOB</th>
      <td mat-cell *matCellDef="let element"> {{element.dob.split('T')[0]}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="fName">
      <th mat-header-cell *matHeaderCellDef> Father Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fName}} </td>
    </ng-container>

          <!-- Symbol Column -->
     <ng-container matColumnDef="bGroup">
      <th mat-header-cell *matHeaderCellDef> Blood Group </th>
      <td mat-cell *matCellDef="let element"> {{element.bGroup}} </td>
    </ng-container>

          <!-- Symbol Column -->
     <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="contactNumber">
      <th mat-header-cell *matHeaderCellDef> Number </th>
      <td mat-cell *matCellDef="let element"> {{element.contactNumber}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="hospitalName">
      <th mat-header-cell *matHeaderCellDef> Hospital-Name </th>
      <td mat-cell *matCellDef="let element"> {{element.hospitalName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="wardNo">
      <th mat-header-cell *matHeaderCellDef> Ward-No </th>
      <td mat-cell *matCellDef="let element"> {{element.wardNo}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="covidTesting">
      <th mat-header-cell *matHeaderCellDef> Covid-Testing </th>
      <td mat-cell *matCellDef="let element"> {{element.covidTesting}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date.split('T')[0]}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="homeQuarantine">
      <th mat-header-cell *matHeaderCellDef>Home-Quarantine </th>
      <td mat-cell *matCellDef="let element"> {{element.homeQuarantine}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="deceased">
      <th mat-header-cell *matHeaderCellDef>Deceased </th>
      <td mat-cell *matCellDef="let element"> {{element.deceased}} </td>
    </ng-container>
       
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editPatient(row)"></tr>
   </table>
</div>
