<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="pName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.pName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef> DOB</th>
      <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="fName">
      <th mat-header-cell *matHeaderCellDef> Father Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fName}} </td>
    </ng-container>

          <!-- Symbol Column -->
     <ng-container matColumnDef="bGroup">
      <th mat-header-cell *matHeaderCellDef> Blood Group </th>
      <td mat-cell *matCellDef="let element"> {{element.bGroup}} </td>
    </ng-container>

          <!-- Symbol Column -->
     <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> Number </th>
      <td mat-cell *matCellDef="let element"> {{element.number}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="hospitalName">
      <th mat-header-cell *matHeaderCellDef> hospitalName </th>
      <td mat-cell *matCellDef="let element"> {{element.hospitalName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="wardNo">
      <th mat-header-cell *matHeaderCellDef> wardNo </th>
      <td mat-cell *matCellDef="let element"> {{element.wardNo}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="covidTesting">
      <th mat-header-cell *matHeaderCellDef> covidTesting </th>
      <td mat-cell *matCellDef="let element"> {{element.covidTesting}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
    
       
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
</div>
