<div> 
    <form [formGroup]="doctorForm" class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>ID</mat-label>
          <input matInput formControlName="id"  >
          <mat-error *ngIf="doctorForm.get('id').hasError('required')">
            ID is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="doctorForm.get('id').hasError('pattern')">
            ID must be <strong>numbers</strong>
          </mat-error>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="dName" >
          <mat-error *ngIf="doctorForm.get('dName').hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="doctorForm.get('dName').hasError('pattern')">
            Name must be <strong>letters</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>DOB</mat-label>
            <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="dob" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="doctorForm.get('dob').hasError('required')">
              Date of Birth is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-radio-group formControlName="gender" aria-label="Select an option">
            <mat-label>Gender</mat-label>
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
            <mat-error *ngIf="doctorForm.get('gender').hasError('required')">
              Gender is <strong>required</strong>
            </mat-error>
          </mat-radio-group>
          <mat-form-field class="example-full-width">
            <mat-label>Qualification</mat-label>
            <input matInput formControlName="qualification" >
            <mat-error *ngIf="doctorForm.get('qualification').hasError('required')">
              Qualification is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="example-full-width">
            <mat-label>Specialist</mat-label>
               <button mat-button [matMenuTriggerFor]="menu">{{doctorForm.get('specialist').value || 'click'}}</button>
               <mat-menu #menu="matMenu">
                 <button mat-menu-item (click)="toggleCheckBox('specialist','Neurologist')">Neurologist</button>
                 <button mat-menu-item (click)="toggleCheckBox('specialist','ENT specialist')">ENT specialist</button>
                 <button mat-menu-item (click)="toggleCheckBox('specialist','Cardiologist')">Cardiologist</button>
                 <button mat-menu-item (click)="toggleCheckBox('specialist','Audiologist')">Audiologist</button>
                 <button mat-menu-item (click)="toggleCheckBox('specialist','Gynaecologist')">Gynaecologist</button>
                 <button mat-menu-item (click)="toggleCheckBox('specialist','Paediatrician')">Paediatrician</button>
                 <button mat-menu-item (click)="toggleCheckBox('specialist','Radiologist')">Radiologist</button>
                 <button mat-menu-item (click)="toggleCheckBox('specialist','Pulmonologist')">Pulmonologist</button>
                 <button mat-menu-item (click)="toggleCheckBox('specialist','Endocrinologist')">Endocrinologist</button>
                 <button mat-menu-item (click)="toggleCheckBox('specialist','Oncologist')">Oncologist</button>
                 <button mat-menu-item (click)="toggleCheckBox('specialist','Dermatologists')">Dermatologists</button>
                 <button mat-menu-item (click)="toggleCheckBox('specialist','Hematologists')">Hematologists</button>
                 <button mat-menu-item (click)="toggleCheckBox('specialist','Internists')">Internists</button>
                 <button mat-menu-item (click)="toggleCheckBox('specialist','Osteopaths')">Osteopaths</button>
                 <button mat-menu-item (click)="toggleCheckBox('specialist','Pulmonologists')">Pulmonologists</button>
               </mat-menu>
               <mat-error *ngIf="doctorForm.get('specialist').hasError('required')">
                Specialist is <strong>required</strong>
              </mat-error>
             </div>
          <mat-form-field class="example-full-width">
            <mat-label>Experience</mat-label>
            <input matInput formControlName="experience" >
            <mat-error *ngIf="doctorForm.get('experience').hasError('required')">
              Experience is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Appointment Date</mat-label>
            <input matInput [matDatepicker]="appDatePicker" formControlName="appointmentDate" >
            <mat-datepicker-toggle matSuffix [for]="appDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #appDatePicker></mat-datepicker>
            <mat-error *ngIf="doctorForm.get('appointmentDate').hasError('required')">
              Appointment Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" >
            <mat-error *ngIf="doctorForm.get('address').hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Number</mat-label>
            <input matInput formControlName="number" >
            <mat-error *ngIf="doctorForm.get('number').hasError('required')">
              Number is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="doctorForm.get('number').hasError('pattern')">
              Number must be <strong>numbers</strong>
            </mat-error>
            <mat-error *ngIf="doctorForm.get('number').hasError('maxlength')">
              Number max length is <strong>10</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="mailId" type="email" email>
            <mat-error *ngIf="doctorForm.get('mailId').hasError('email') && !doctorForm.get('mailId').hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="doctorForm.get('mailId').hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
      </form>   
      <div class="buttonContainer">
        <button mat-raised-button color="primary" class="formBtn" (click)="submit()" [disabled]="doctorForm.status !== 'VALID'">Submit</button>
        <button mat-raised-button color="primary" class="formBtn" (click)="initializeForm({})">Reset</button>
        <button mat-raised-button color="primary" class="formBtn" (click)="deleteDoctor()" *ngIf="formType == 'edit'">Delete</button>
        <button mat-raised-button color="primary" class="formBtn" [routerLink]="['/doctor']">Cancel</button>
      </div>
</div>